*{
	padding: 0px;
	margin: 0px;
}
.head
{
display: flex;
justify-content: center;
background-color: rgba(243,121,32,0.3);
height: 40px;
padding: 10px;
}
.item
{
	display: flex;
	justify-content: space-around;
	cursor: pointer;
	background-color: rgba(243,205,178,0.4);
	height: 30px;

}
.item li
{
	list-style:none;
	line-height: 30px;	
    transition: 1s;
    font-size: 15px;
    font-weight: bold;
}
.item li:hover
{
 border-bottom:2px solid black;
}
.colle
{
	display: flex;
	align-items: center;
	justify-content: center;
	height: auto;
	background: linear-gradient(90deg,rgba(252,224,211,0.3),rgba(251,229,175,0.3));

}
.colle img
{
	width: 300px;
	height: 300px;
	border: 2px solid black;
	border-radius: 30px;
	cursor: pointer;
}
.mobi
{
 display: grid;
grid-template-columns:repeat(4, 320px);
grid-row-gap: 30px;
grid-column-gap: 10px;
margin-top: 30px;

}

@media (max-width:500px){
.head
{
display: flex;
justify-content: center;
background-color: rgba(243,121,32,0.3);
height: 40px;
padding: 10px;
}
.item
{
	display: flex;
	justify-content: space-around;
	cursor: pointer;
	background-color: rgba(243,205,178,0.4);
	height: 30px;

}
.item li
{
	list-style:none;
	line-height: 30px;	
    transition: 1s;
    font-size: 15px;
    font-weight: bold;
}
.item li:hover
{
 border-bottom:2px solid black;
}
.colle
{
	display: flex;
	align-items: center;
	justify-content: center;
	height: auto;
	background: linear-gradient(90deg,rgba(252,224,211,0.3),rgba(251,229,175,0.3));

}
.colle img
{
	width: 300px;
	height: 300px;
	border: 2px solid black;
	border-radius: 30px;
	cursor: pointer;
}
.mobi
{
 display: grid;
grid-template-columns:repeat(1, 300px);
grid-row-gap: 30px;
grid-column-gap: 10px;
margin-top: 30px;

}
